
@media only screen and (max-width:575px)
{
    .container
    {
        max-width: 95%;
    }
   .imgratio
   {
    object-fit:  contain;
   }
    .slide {
        min-width: calc(100% / 2);
    }
    .primarybtn,.linkbutton
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand img
    {
        max-width: 100px;
    }
    .bannertext,.adv-text
    {
        font-size: 30px;
    }
    .section-head,.section-head-right
    {
        font-size: 25px;
    }
    .card-header
    {
        font-size: 22px;
    }
    .card-header-blog
    {
        font-size: 18px;
    }
    .bloglink
    {
        font-size: 16px;
    }
    .card-sec,.card-sec-blog,.flex-footer, .footer-flex

    {
        flex-direction: column;
        grid-row-gap: 30px;
    }
    .blogcard
    {
        margin-bottom: 100px;
    }
    .blogcard:last-child
    {
        margin-bottom: 20px;
    }
    .card-blog-text
    {
        bottom: -75px;
    }
    
}
@media only screen and (min-width:576px) and (max-width:767px)
{
    
    .slide {
        min-width: calc(100% / 3);
    }
    .container
    {
        max-width: 540px;
    }
    .bannertext
    {
        font-size: 38px;
    }
    .bannertext,.adv-text
    {
        font-size: 32px;
    }
    .section-head,.section-head-right
    {
        font-size: 28px;
    }
    .card-header
    {
        font-size: 25px;
    }
    .card-header-blog
    {
        font-size: 16px;
    }
    .bloglink
    {
        font-size: 14px;
    }
    .card-sec,.card-sec-blog
    {
       flex-wrap: wrap;
        grid-row-gap: 30px;
        grid-column-gap: 2.5%;
        justify-content: center;
    }
    .card-sec .card,.card-sec-blog .blogcard
    {
        width: 45%;
    }
    .blogcard
    {
        margin-bottom: 200px;
    }
    .blogcard:last-child
    {
        margin-bottom: 100px;
    }
    .card-blog-text
    {
        bottom: -150px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px)
{
    .container
    {
        max-width: 720px;
    }
    .imgratio
   {
    object-fit:  contain;
   }
    .bannertext,.adv-text
    {
        font-size: 35px;
    }
    .section-head,.section-head-right
    {
        font-size: 25px;
    }
    .card-header
    {
        font-size: 20px;
    }
    .card-header-blog
    {
        font-size: 15px;
    }
    .bloglink
    {
        font-size: 13px;
    }
    .card-sec
    {
        grid-column-gap: 20px;
    }
    .businesssec .bannerflex
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .gridesc
    {
        min-width: 100%;
        margin-top: 20px;
    }
    .card-blog-text
    {
        bottom:-100px;
    }
    .footer-flex
    {
        flex-direction: column;
    }
    .bannersec .textsec
    {
        max-width: 50%;
    }
   
    .slide {
        min-width: calc(100% / 5);
    }
    .card-sec-blog
    {
        margin-bottom: 150px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px)
{
    .container
    {
        max-width: 960px;
    }
    .navbar-brand img
    {
        max-width: 130px;
    }
    .bannertext,.adv-text
    {
        font-size: 30px;
    }
    .section-head,.section-head-right
    {
        font-size: 27px;
    }
    .card-header
    {
        font-size: 22px;
    }
    .card-header-blog
    {
        font-size: 17px;
    }
    .bloglink
    {
        font-size: 16px;
    }
    .gridesc
    {
        min-width: 50%;
    }
    .slide {
        min-width: calc(100% / 5);
    }
    
}
@media only screen and (min-width:1200px) and (max-width:1399px)
{
    .container
    {
        max-width: 1140px;
    }
}
@media only screen and (min-width:1400px) 
{
    .container
    {
        max-width: 1320px;
    }
}

@media only screen and (max-width:767px)
{
    .imgsec
    {
        width: 100%;
        text-align: center;
    }
    .bannerflex
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .textsec
    {
        max-width: 100%;
        margin-bottom: 30px;
    }
  .flex-footer, .footer-flex

    {
        flex-direction: column;
        grid-row-gap: 30px;
    }
   
    .textsecpixel
    {
        max-width: 100%;
    }
    .gridesc
    {
        grid-template-columns:100%;
        margin-top: 30px;
        min-width: 100%;
        grid-row-gap: 3%;
    }
    .pixelsec .bannerflex
    {
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width:768px)
{
  .bannerflex
{
    grid-column-gap: 60px;
}
.bannersec
{
    min-height: calc(100vh);
    display: flex;
    align-items: center;
}
}

@media only screen and (max-width:991px)
{
   #menulist
   {
    display: none;
   }
   #menulist li
   {
    padding: 20px;
   }
   .topnav
   {
    padding-right: 30px;
   }
   .footer-sec-two
   {
       margin-top: 30px;
   }
}
@media only screen and (min-width:992px)
{
    .bar
    {
        display: none;
    }
}
